atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.11.8
chardet==3.0.4
codecov==2.1.8
contextlib2==0.6.0.post1
coverage==5.0.4
funcsigs==1.0.2
idna==2.9
more-itertools==5.0.0
pathlib2==2.3.5
pbr==5.4.4
pluggy==0.13.1
py==1.8.1
pypandoc==1.5
pytest==5.4.1
pytest-cov==2.8.1
PyYAML==5.3.1
requests==2.23.0
scandir==1.10.0
six==1.15.0
urllib3==1.25.8
vcrpy==4.0.2
wrapt==1.12.1
