interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.testobject.com/api/rest/v2/devices
  response:
    body: {string: !!python/unicode ''}
    headers:
      www-authenticate: [BASIC realm="application"]
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers:
    method: GET
    uri: https://app.testobject.com/api/rest/v2/devices
  response:
    body: {string: !!python/unicode '{"EU":[{"id":"HTC_One_M8_real","name":"HTC One
        (M8)","modelNumber":"HTC One_M8","manufacturer":["HTC"],"isArm":true,"hasHardwareKeyboard":false,"hasOnScreenButtons":true,"abiType":"armeabi-v7a","os":"ANDROID","osVersion":"6.0","apiLevel":23,"screenSize":5.0,"resolutionWidth":1080,"resolutionHeight":1920,"dpi":440,"pixelsPerPoint":1,"isTablet":false,"defaultOrientation":"PORTRAIT","ramSize":2048,"internalStorageSize":16384,"sdCardSize":2048,"cpuCores":4,"cpuFrequency":2300,"supportsMockLocations":true,"supportsAppiumWebAppTesting":true,"supportsXcuiTest":false,"isKeyGuardDisabled":false,"isRooted":false,"isPrivate":false,"isAlternativeIoEnabled":true,"deviceFamily":"ANY","dpiName":"xxhdpi","supportsManualWebTesting":true},{"id":"iPhone_5_16GB_real","name":"iPhone
        5 Free","modelNumber":"MD297DN/A","manufacturer":["Apple"],"isArm":true,"hasHardwareKeyboard":false,"hasOnScreenButtons":true,"abiType":"armv7s","os":"IOS","osVersion":"9.3.3","apiLevel":9,"screenSize":4.0,"resolutionWidth":640,"resolutionHeight":1136,"dpi":326,"pixelsPerPoint":2,"isTablet":false,"defaultOrientation":"PORTRAIT","ramSize":1024,"internalStorageSize":16384,"sdCardSize":0,"cpuCores":2,"cpuFrequency":1300,"supportsMockLocations"[...]
