interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.testobject.com/api/rest/v2/devices/iPhone_5_free
  response:
    body: {string: !!python/unicode ''}
    headers:
      www-authenticate: [BASIC realm="application"]
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers:
    method: GET
    uri: https://app.testobject.com/api/rest/v2/devices/iPhone_5_free
  response:
    body: {string: !!python/unicode '{"US":{"id":"iPhone_5_free","name":"iPhone 5
        Free","modelNumber":"Model A1429","manufacturer":["Apple"],"isArm":true,"hasHardwareKeyboard":false,"hasOnScreenButtons":false,"abiType":"armv7s","os":"IOS","osVersion":"10.0.2","apiLevel":0,"screenSize":4.0,"resolutionWidth":640,"resolutionHeight":1136,"dpi":326,"pixelsPerPoint":2,"isTablet":false,"defaultOrientation":"PORTRAIT","ramSize":1024,"internalStorageSize":16384,"sdCardSize":0,"cpuCores":2,"cpuFrequency":1300,"supportsMockLocations":true,"supportsAppiumWebAppTesting":true,"supportsXcuiTest":true,"isKeyGuardDisabled":false,"isRooted":false,"isPrivate":false,"isAlternativeIoEnabled":true,"deviceFamily":"IPHONE","dpiName":"xhdpi","supportsManualWebTesting":true}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
