interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.testobject.com/api/rest/v1/devices/reports
  response:
    body: {string: '{"entities":[{"id":"ffe7fc8d-35cc-447f-9a5b-31275a3e47fc","projectId":"officeconnect-wi-fi-portal-android","userId":"csteam","deviceDescriptorId":"Samsung_Galaxy_S5_mini_real","usage":"APPIUM","appId":1,"frameworkAppId":0,"testFrameworkType":"APPIUM","testFrameworkVersion":"1.7.2","testReportIds":[7],"testIds":[-1],"batchId":-1,"startDateTime":{"hour":16,"minute":27,"nano":0,"year":2018,"month":"FEBRUARY","dayOfYear":59,"dayOfWeek":"WEDNESDAY","dayOfMonth":28,"monthValue":2,"second":1,"chronology":{"calendarType":"iso8601","id":"ISO"}},"endDateTime":{"hour":16,"minute":27,"nano":0,"year":2018,"month":"FEBRUARY","dayOfYear":59,"dayOfWeek":"WEDNESDAY","dayOfMonth":28,"monthValue":2,"second":42,"chronology":{"calendarType":"iso8601","id":"ISO"}},"durationInSeconds":41},{"id":"ffe22e08-1159-4141-9fa9-7bb3e7a4ce59","projectId":"calculator","userId":"csteam","deviceDescriptorId":"iPhone_4S_16GB_real_2","usage":"MANUAL","appId":1,"frameworkAppId":0,"testFrameworkType":"MANUAL","testFrameworkVersion":null,"testReportIds":[],"testIds":[],"batchId":0,"startDateTime":{"hour":15,"minute":56,"nano":0,"year":2018,"month":"FEBRUARY","dayOfYear":53,"dayOfWeek":"THURSDAY","dayOfMonth":22,"monthValue":2,"second":58,"chronology":{"calendarType":"iso8601","id":"ISO"}},"end[...]
