interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.testobject.com/api/rest/v2/logs/4/appium
  response:
    body: {string: '[{"id":1,"time":"22:40:29","level":"VERBOSE","message":"[HTTP]
        --> POST \/wd\/hub\/session"},{"id":2,"time":"22:40:29","level":"VERBOSE","message":"[HTTP]
        {\"desiredCapabilities\":{\"appPackage\":\"com.example.egonzalezh94.testproject\",\"rotatable\":true,\"testobject_platform_name\":\"Android\",\"testobject_test_name\":\"Basic
        WDIO Test\",\"handlesAlerts\":true,\"deviceName\":\"Samsung_Galaxy_Note_8_real_us\",\"requestOrigins\":{\"url\":\"http:\/\/webdriver.io\",\"version\":\"4.13.2\",\"name\":\"webdriverio\"},\"appActivity\":\"com.example.egonzalezh94.testproject.LoginActivity\",\"locationContextEnabled\":true,\"automationName\":\"UiAutomator2\",\"javascriptEnabled\":true,\"testobject_api_key\":\"0F5E05AD42D643708E04EAFBB3D26310\",\"platformName\":\"Android\"}}"},{"id":3,"time":"22:40:29","level":"VERBOSE","message":"[debug]
        [MJSONWP] Calling AppiumDriver.createSession() with args: [{\"appPackage\":\"com.example.egonzalezh94.testproject\",\"rotatable\":true,\"testobject_platform_name\":\"Android\",\"testobject_test_name\":\"Basic
        WDIO Test\",\"handlesAlerts\":true,\"deviceName\":\"Samsung_Galaxy_Note_8_real_us\",\"requestOrigins\":{\"url\":\"http:\/\/webdriver.io\",\"version\":\"4.13.2\",\"name\":\"webdriverio\"},\"appActivity\":\"com.example.egonzalezh94.testproject.LoginActivity\",\"locationContextEnabled\":true,\"automationName\":\"UiAutomator2\",\"javascriptEnabled\":true,\"testobject_api_key\":\"0F5E05AD42D643708E04EAFBB3D26310\",\"platformName\":\"Android\"},null,null]"},{"id":4,"time":"22:40:29","level":"VERBOSE","message":"[debug]
        [BaseDriver] Event ''newSessionRequested'' logged at 1547937629118 (22:40:29
        GMT+0000 (UTC))"},{"id":5,"time":"22:40:29","level":"VERBOSE","message":"[Appium]
        Creating new AndroidUiautomator2Driver (v1.12.0) session"},{"id":6,"time":"22:40:29","level":"VERBOSE","message":"[Appium]
        Capabilities:"},{"id":7,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   suppressKillServer:
        true"},{"id":8,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   chromedriverChromeMappingFile:
        \/root\/.testobject_devices\/work\/chromedriver-mapping.json"},{"id":9,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   adbPort:
        15007"},{"id":10,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   chromedriverExecutableDir:
        \/root\/.testobject_devices\/work\/chromedrivers"},{"id":11,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   systemPort:
        8207"},{"id":12,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   appPackage:
        com.example.egonzalezh94.testproject"},{"id":13,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   rotatable:
        true"},{"id":14,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   testobject_platform_name:
        Android"},{"id":15,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   testobject_test_name:
        Basic WDIO Test"},{"id":16,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   handlesAlerts:
        true"},{"id":17,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   deviceName:
        Samsung_Galaxy_Note_8_real_us"},{"id":18,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   requestOrigins:
        {"},{"id":19,"time":"22:40:29","level":"VERBOSE","message":"[Appium]     url:
        http:\/\/webdriver.io"},{"id":20,"time":"22:40:29","level":"VERBOSE","message":"[Appium]     version:
        4.13.2"},{"id":21,"time":"22:40:29","level":"VERBOSE","message":"[Appium]     name:
        webdriverio"},{"id":22,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   }"},{"id":23,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   appActivity:
        com.example.egonzalezh94.testproject.LoginActivity"},{"id":24,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   locationContextEnabled:
        true"},{"id":25,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   automationName:
        UiAutomator2"},{"id":26,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   javascriptEnabled:
        true"},{"id":27,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   testobject_api_key:
        0F5E05AD42D643708E04EAFBB3D26310"},{"id":28,"time":"22:40:29","level":"VERBOSE","message":"[Appium]   platformName:
        Android"},{"id":29,"time":"22:40:29","level":"VERBOSE","message":"[debug]
        [BaseDriver] Creating session with MJSONWP desired capabilities: {\"suppressKillServer\":true,..."},{"id":30,"time":"22:40:29","level":"VERBOSE","message":"[BaseDriver]
        The following capabilities were provided, but are not recognized by appium:
        suppressKillServer, rotatable, testobject_platform_name, testobject_test_name,
        handlesAlerts, requestOrigins, locationContextEnabled, javascriptEnabled,
        testobject_api_key."},{"id":31,"time":"22:40:29","level":"VERBOSE","message":"[BaseDriver]
        Session created with session id: 86339a1a-d4bd-42ea-a4a2-1b8[...]
