interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.testobject.com/api/rest/v2/logs/3/xcuitest
  response:
    body: {string: '[{"id":1,"time":"00:51:35","level":"INFO","message":"2019-01-19
        16:51:35.279 DummyTestingAppUITests-Runner[357:12931] [injector.dylib] +load
        called!\n2019-01-19 16:51:35.279 DummyTestingAppUITests-Runner[357:12931]
        [injector.dylib] app launch arguments: (\n    \"\/var\/containers\/Bundle\/Application\/6F983D41-3426-4699-839B-51D39AE0FA9C\/DummyTestingAppUITests-Runner.app\/DummyTestingAppUITests-Runner\"\n)\n"},{"id":2,"time":"00:51:35","level":"INFO","message":"2019-01-19
        16:51:35.280 DummyTestingAppUITests-Runner[...]
