interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.testobject.com/api/rest/v2/logs/4/device
  response:
    body: {string: '[{"id":1,"time":"04:10:28","level":"ERROR","message":"adbd : recv:
        OPEN 00005a9a 00000000 0009:74 63 70 3A 37 30 37 30 00"},{"id":2,"time":"04:10:28","level":"ERROR","message":"adbd
        : service_to_fd: tcp:7070"},{"id":3,"time":"04:10:28","level":"INFO","message":"DBG_POLICYDM
        : [IlIIlllIIlIIlIlIIlII(48\/llIIIIlllllIIllIIllI)] RestClient execute!!"},{"id":4,"time":"04:10:28","level":"DEBUG","message":"DnsProxyListener
        : DNSDBG::dns addrinfo af 2"},{"id":5,"time":"04:10:28","level":"INFO","message":"DBG_POLICYDM
        : [com.sec.android.policyagent.network.restclient.llllIIIllIlIIIIllllI(38\/llIIIIlllllIIllIIllI)]
        RestClient execute here"},{"id":6,"time":"04:10:28","level":"INFO","message":"DBG_POLICYDM
        : [com.sec.android.policyagent.network.restclient.llllIIIllIlIIIIllllI(41\/llIIIIlllllIIllIIllI)]
        [[ ================================================================="},{"id":7,"time":"04:10:28","level":"INFO","message":"HarmonyEASService
        : Updating for all 1"},{"id":8,"time":"04:10:28","level":"DEBUG","message":"AASAservice-UpdateReceiver
        : onReceive() : android.intent.action.PACKAGE_ADDED"},{"id":9,"time":"04:10:28","level":"INFO","message":"AASAservice-IntentThread
        : Thread is null"},{"id":10,"time":"04:10:28","level":"INFO","message":"TOOLKIT
        SERVICE : Request body ''{\"id\":\"1547937628899\",\"type\":\"GET_SCREEN_ORIENTATION\"}''"},{"id":11,"time":"04:10:28","level":"INFO","message":"AppsEdge.Data
        : item=SelectedItem : pos = 0 FolderItem:preset_folder:0:0"},{"id":12,"time":"04:10:28","level":"INFO","message":"AppsEdge.Data
        : type=0 pos=6 id=4"},{"id":13,"time":"04:10:28","level":"DEBUG","message":"MARsDBManager
        : doInsertPkg com.example.egonzalezh94.testproject uri = content:\/\/com.samsung.android.sm\/AppFreezer\/11564"},{"id":14,"time":"04:10:28","level":"INFO","mes[...]
