interactions:
- request:
    body: '[{"className": "TOSuiteTest", "dataCenterId": "US", "methodName": "testMethod",
      "deviceId": "iPhone_5_free"}]'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://app.testobject.com/api/rest/v2/appium/suites/14/reports/start
  response:
    body: {string: '{"id":16,"testReports":[{"id":62,"test":{"className":"TOSuiteTest","methodName":"testMethod","deviceId":"iPhone_5_free","dataCenterId":"US"}}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
