interactions:
- request:
    body: !!python/unicode '{"passed": true}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://app.testobject.com/api/rest/v2/appium/suites/14/reports/17/results/63/finish
  response:
    body: {string: !!python/unicode '{"id":63,"test":{"className":"TOSuiteTest","methodName":"testMethod","deviceId":"iPhone_5_free","dataCenterId":"US"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
