interactions:
- request:
    body: !!python/unicode '{"title": "MY NAME CHANGING SUITE"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://app.testobject.com/api/rest/v2/appium/suites/7
  response:
    body: {string: !!python/unicode '{"id":7,"title":"MY NAME CHANGING SUITE","appVersionId":1,"frameworkVersion":"1.6.4","deviceIds":{"US":["iPhone_SE_10_2_POC101","iPhone_SE_10_2_POC108"]}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
